@{
    ViewBag.Title = "Home Page";
}

<main>
    <section align="center" class="row" aria-labelledby="aspnetTitle">
        <h1 class="mt-3" id="title">Atividade ASP.NET</h1>
        <p class="lead">Selecione uma das opções acima para abrir uma página</p>
        <p class="lead my-2"></p>
    </section>
</main>