@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Atividade ASP.NET</h1>
        <p class="lead">Selecione uma das opções acima para abrir uma página</p>
    </section>
</main>